@import "tailwindcss";

@theme {
  --font-sans: "Space Mono", "Space Mono Fallback", ui-monospace, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: var(--font-sans);
}
